03-services/services-101/WebContent/wsdl/StringOperationsImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.integrations.classroom.telusinternational.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.integrations.classroom.telusinternational.com" xmlns:intf="http://soap.integrations.classroom.telusinternational.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.integrations.classroom.telusinternational.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayGoodbye">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayGoodbyeResponse">
    <complexType>
     <sequence>
      <element name="sayGoodbyeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayGoodbyeResponse">

      <wsdl:part element="impl:sayGoodbyeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayGoodbyeRequest">

      <wsdl:part element="impl:sayGoodbye" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StringOperationsImpl">

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayGoodbye">

         <wsdl:input message="impl:sayGoodbyeRequest" name="sayGoodbyeRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayGoodbyeResponse" name="sayGoodbyeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StringOperationsImplSoapBinding" type="impl:StringOperationsImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayGoodbye">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayGoodbyeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayGoodbyeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StringOperationsImplService">

      <wsdl:port binding="impl:StringOperationsImplSoapBinding" name="StringOperationsImpl">

         <wsdlsoap:address location="http://localhost:8080/services-101/services/StringOperationsImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
